In [1]:
# Import necessary libraries
import random
import string
import pandas as pd
from sqlalchemy import create_engine
import os
import random
import string
import itertools
from dotenv import load_dotenv
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.schema import DropTable

load_dotenv()

# Retrieve the database credentials from environment variables
POSTGRES_USER = os.getenv('POSTGRES_USER')
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
POSTGRES_DATABASE_1 = os.getenv('POSTGRES_DATABASE_1')

# Construct the database URL using the environment variables
DATABASE_URL = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:5432/{POSTGRES_DATABASE_1}"

# Function to generate a random string
def random_string(length=8):
    return ''.join(random.choices(string.ascii_uppercase + string.digits, k=length))

# Number of teams
num_teams = 20

# Generate team IDs and names
team_ids = list(range(1, num_teams + 1))
team_names = [f"Team {random_string()}" for _ in range(num_teams)]

# Ensure team names are unique
while len(team_names) != len(set(team_names)):
    team_names = [f"Team {random_string()}" for _ in range(num_teams)]

# Create DataFrame for teams
teams_df = pd.DataFrame({
    'Team_ID': team_ids,
    'Team_Name': team_names
})

# Generate all possible matches
all_matches = [(i, j) for i in team_ids for j in team_ids if i < j]

# Generate the minimum number of matches needed to ensure each team plays every other team at least once
matches_needed = len(all_matches)
num_matches_to_generate = 200

# Ensure we have exactly 200 matches
if num_matches_to_generate > matches_needed:
    additional_matches_needed = num_matches_to_generate - matches_needed
    additional_matches = random.choices(all_matches, k=additional_matches_needed)
    matches = all_matches + additional_matches
else:
    matches = all_matches[:num_matches_to_generate]

# Shuffle matches to add randomness
random.shuffle(matches)

# Create DataFrame for matches with match_id
matches_df = pd.DataFrame(matches, columns=['Team1_ID', 'Team2_ID'])
matches_df['Match_ID'] = range(1, len(matches_df) + 1)

# Randomly assign winner and loser for each match
matches_df['Winner_ID'] = matches_df.apply(lambda row: random.choice([row['Team1_ID'], row['Team2_ID']]), axis=1)
matches_df['Loser_ID'] = matches_df.apply(lambda row: row['Team1_ID'] if row['Winner_ID'] == row['Team2_ID'] else row['Team2_ID'], axis=1)
matches_df = matches_df[['Match_ID', 'Winner_ID', 'Loser_ID', 'Team1_ID', 'Team2_ID']]

print(matches_df)
# Save to CSV
teams_df.to_csv('teams.csv', index=False)
matches_df.to_csv('matches.csv', index=False)

# Database connection
engine = create_engine(DATABASE_URL)

# Execute the command to drop tables with CASCADE
with engine.connect() as connection:
    connection.execute(text("DROP TABLE IF EXISTS matches CASCADE"))
    connection.execute(text("DROP TABLE IF EXISTS teams CASCADE"))

# Write data to PostgreSQL
matches_df.to_sql('matches', engine, if_exists='replace', index=False)
teams_df.to_sql('teams', engine, if_exists='replace', index=False)
# matches_df.to_sql('matches', engine, if_exists='replace', index=False)

# # Write data to PostgreSQL
# teams_df.to_sql('teams', engine,  index=False)
# matches_df.to_sql('matches', engine, index=False)

     Match_ID  Winner_ID  Loser_ID  Team1_ID  Team2_ID
0           1          9        14         9        14
1           2         19         3         3        19
2           3         13        20        13        20
3           4         11         3         3        11
4           5          8        10         8        10
..        ...        ...       ...       ...       ...
195       196          4         9         4         9
196       197         11        17        11        17
197       198         10        19        10        19
198       199         19        12        12        19
199       200         16        12        12        16

[200 rows x 5 columns]

20

In [2]:
engine = create_engine(DATABASE_URL)

# Corrected query with case-sensitive column names
query = """
SELECT t."Team_Name", COUNT(m."Winner_ID") AS Wins
FROM matches m
JOIN teams t ON m."Winner_ID" = t."Team_ID"
GROUP BY t."Team_Name"
ORDER BY Wins DESC
LIMIT 10;
"""

# Execute the query and load the results into a DataFrame
with engine.connect() as connection:
    top_teams_df = pd.read_sql_query(query, connection)

# Display the results
top_teams_df

       Team_Name  wins
0  Team NWVSQGQG    15
1  Team EFLQ6DMD    14
2  Team BMDLRSRQ    13
3  Team 112ICRIU    13
4  Team 0K1VRG5Y    12
5  Team HZGCHO29    12
6  Team XUJ21EMK    12
7  Team T4VB3PF3    11
8  Team 1JPFHM0R    11
9  Team O7DYVSQW    10

In [3]:
engine = create_engine(DATABASE_URL)
# SQL query to check if any team pairs are missing a match
query = """
WITH all_possible_pairs AS (
    SELECT t1."Team_ID" AS "Team1_ID", t2."Team_ID" AS "Team2_ID"
    FROM teams t1
    JOIN teams t2 ON t1."Team_ID" < t2."Team_ID"
),
played_matches AS (
    SELECT "Team1_ID", "Team2_ID" FROM matches
    UNION
    SELECT "Team2_ID" AS "Team1_ID", "Team1_ID" AS "Team2_ID" FROM matches
)
SELECT ap.* 
FROM all_possible_pairs ap
LEFT JOIN played_matches pm ON ap."Team1_ID" = pm."Team1_ID" AND ap."Team2_ID" = pm."Team2_ID"
WHERE pm."Team1_ID" IS NULL;
"""

with engine.connect() as connection:
    # Execute the query and store the result in a DataFrame
    missing_matches_df = pd.read_sql(query, engine)

# Display the results
missing_matches_df

Empty DataFrame
Columns: [Team1_ID, Team2_ID]
Index: []